<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<body>
<nav id="header" th:fragment="header" class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Admissions</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Home Page</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        For applicants
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li sec:authorize="hasAnyAuthority('USER','ADMIN')"><a class="dropdown-item" th:href="@{/faculty}">List of faculties</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </li>
                <li sec:authorize="hasAuthority('ADMIN')" class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownAdmin" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Admin panel
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownAdmin">
                        <li><a class="dropdown-item" th:href="@{/user}">List of users</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </li>
            </ul>
            <button class="btn me-1" onclick="window.location.replace('?lang=en')">EN</button>
            <button class="btn me-1" onclick="window.location.replace('?lang=ru')">RU</button>
            <div sec:authorize="!isAuthenticated()">
                <a class="btn btn-primary" th:href="@{/login}">Log In</a>
            </div>
            <div class="me-3" sec:authorize="isAuthenticated()">
                <a sec:authentication="name" th:href="@{/user/profile}"></a>
            </div>
            <div sec:authorize="isAuthenticated()">
                <form th:action="@{/logout}" th:method="post">
                    <button class="btn btn-primary" th:type="submit">Log out</button>
                </form>
            </div>
        </div>
    </div>
</nav>
</body>
</html>