<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head.html :: head"></head>
<body>
    <header th:replace="fragments/header.html :: header"></header>

    <div class="container mt-3">
        Login page
        <form th:action="@{/signin}" method="post">
            <div>
                <label for="email" th:text="#{login.email}"></label>
                <input th:class="col-2" type="text" class="form-control" id="email" name="email"
                       placeholder="Username">
            </div>
            <div>
                <label for="password">Password</label>
                <input th:class="col-2" type="password" class="form-control" id="password" name="password"
                       placeholder="Password">
            </div>
            <div><input type="submit" value="Sign In"/></div>
        </form>
        <a href="/registration">Add new user</a>
    </div>

    <div th:replace="fragments/script.html :: script"></div>
</body>
</html>
