<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/head.html :: head"></head>
<body>

    <header th:replace="fragments/header.html :: header"></header>

    <div class="container mt-3">
        Authenticated email:
        <div sec:authentication="name"></div>
        Authenticated user roles:
        <div sec:authentication="principal.authorities"></div>

        <div sec:authorize="hasAuthority('ADMIN')"><a href="/user" th:text="Users"></a></div>

        <div>
            <form th:action="@{/main}" method="post">
                <input type="text" name="text" placeholder="Введите сообщение" />
                <input type="text" name="tag" placeholder="Тэг">
                <button type="submit">Добавить</button>
            </form>
        </div>
        <div th:text="#{main.msgList}"></div>
        <form method="get" th:action="@{/main}">
            <input type="text" name="filter" th:value="${filter}">
            <button type="submit">Найти</button>
        </form>
        <ul th:each="message : ${messages}">
            <li>
                <div>
                    <b th:text="${message.id}"></b>
                    <span th:text="${message.text}"></span>
                    <i th:text="${message.tag}"></i>
                    <strong th:text="${message.authorName}"></strong>
                </div>
            </li>
        </ul>
    </div>

    <div th:replace="fragments/script.html :: script"></div>
</body>
</html>